header, footer {
    background-color: #4288E9;
    width: 100%;
    height: 75px;

    color: #ffffff;
    font-family: sans-serif;
    font-size: 20px;
    padding-left: 15px;
    padding-top: 35px;

}


header img {
    display: inline-block;
    position: absolute;
    right: 250px;
    top: 60px;
    float: right;
    z-index: 2;
}

header #talk-bubbel {
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 10px;
    right: 125px;
    float: right;
    z-index: 2;
    width: 200px;
}

header #happy-guy{
    border: 5px solid black;
}

header p {
    display: inline-block;
    position: absolute;
    top: 35px;
    right: 140px;
    float: right;
    width: 150px;
    color: black;
    z-index: 3;
    font-size: 12px;

}



footer {
    vertical-align: bottom;
}

section {
    position: relative;
    z-index: 5;
}

nav {
    background-color: limegreen;
    height: 50px;
    width: 90%;
    margin: 0 auto;
    z-index: 5;
}

nav button {
    margin: 1%;
    float: left;

}
