
html, body {
    margin: 0;
    padding: 0;
    background-color: #FF0000;
}

header, footer {
    background-color: #4288E9;
    width: 100%;

    color: #ffffff;
    font-family: sans-serif;
    font-size: 20px;
    padding: 25px;
}

footer {
    vertical-align: bottom;
}

header h1{
    display: inline-block;
    vertical-align: middle;
}

body section {
    padding: 20px 0;
    width: 100%;
    text-align: center;
    background-image: url("../img/family-House.jpg");
}

body section article {
    margin: 0px auto;
    display: block;
    background-color: rgba(192, 192, 192, 0.8);
    border-radius: 30px;
    width: 33.333%;
    text-align: center;
    color: #ffffff;
    font-size: 22px;

    padding: 20px;
}

body section button {
    margin: 10px auto;
    border-radius: 30px;
    border: none;
    background-color: rgb(118, 255, 3);

    color: #ffffff;
    font-family: sans-serif;
    font-size: 30px;
    padding: 20px;

    cursor: pointer;
}

section article button:hover {
    cursor: hand;
}

body section section {
    background: transparent;
}

section section article {
    display: inline-block;
    padding: 15px;
    padding-bottom: 10px;
    margin: 15px;

    cursor: pointer;

    background-color: #ffffff;
}

section section article:hover {
    cursor: hand;
}

section section article img {
    width: 275px;
    height: 183px;
}

section section article p {
    color: #666666;
}

.text-holder {
    display: block;
    margin-left: auto;
    margin-right: auto;

    background-color: rgba(192, 192, 192, 0.8);
    border-radius: 30px;

    text-align: center;
    color: #ffffff;
    font-size: 22px;

    padding: 20px;

}
