body {
    text-align: center;
}

h1 {
    text-align: center;
}

span {
    font-size: 32px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.largeimage {
    height: 300px;
    width: 400px;
}

section section {
    display: block;

}
.options article {
    display: inline-block;
    cursor: pointer;

    background-color: #FFFF6610;
    padding: 25px;

}

.options article:hover {
    cursor: hand;
}

