body {
    text-align: center;
}

h1 {
    text-align: center;
}

span {
    font-size: 32px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.largeimage {
    height: 300px;
    width: 400px;
}