html, body {
    height: 100%;
    background-color: green;
    margin-top: 10px;
}

nav {
    height: 5%;
    width: 90%;
    margin: 0 auto;
}

nav button {
    margin: 1%;
    float: left;
    height: 100%;
}

section {
    margin: 0 auto;
    clear: both;
    width: 90%;
    background-color: red;
    position: relative;
    overflow: hidden;
}

section section {
    width: 25%;
    height: 25%;
    background-color: yellow;
    position: absolute;
    bottom: 0;
}

section .sidebyside article {
    clear: both;
    margin-top: 20px;
}

section .sidebyside article p {
    float: left;
    margin-left: 60px;
}

section h1 {
    font-size: 28px;
    text-align: center;
}

section h2 {
    clear: both;
    font-size: 20px;
    margin-left: 40px;
}

.sidebyside {
    float: left;
    margin: 0 10%;
}

.circle-container {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: width 1s, height 1s;
}


.circle-container-change {
    width: 200px;
    height: 200px;
}
/*
.circle-container {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


.circle-container a {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 20px; height: 20px;
    margin-left: -10px;
    margin-top: -25px;
}

*/

.circle-container a {
    display: none;
    position: absolute;
    top: 50%; left: 50%;
    width: 20px; height: 20px;
    margin-left: -10px;
    margin-top: -25px;
}

.circle-container a.center{
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 20px; height: 20px;
    margin-left: -10px;
    margin-top: -25px;
}

.deg135 { 
    transform: rotate(135deg) translate(0px) rotate(-135deg);
    transition: transform 1s;
}

.deg135-changed {
    transform: rotate(135deg) translate(80px) rotate(-135deg);
}

.deg180 { 
    transform: rotate(180deg) translate(0px) rotate(-180deg);
    transition: transform 1s;
}
.deg180-changed {
    transform: rotate(180deg) translate(80px) rotate(-180deg);
}

.deg225 { 
    transform: rotate(225deg)  translate(0px) rotate(-225deg);
    transition: transform 1s;
}
.deg225-changed {
    transform: rotate(225deg) translate(80px) rotate(-225deg);
}

.EditExpandButton {
    clear: both;
    float: right;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 400px;
    margin-bottom: 5%;
    transition: width 1s, height 1s;
}

.EditExpandButton:hover {
    width: 200px;
    height: 200px;
}

#EditView {
    height: 80%;
}

#total {
    clear: both;
    text-align: center;
    padding-top: 60px;
}

#rightmenu {
    float: right;
}