html, body {
    height: 100%;
    margin-top: 0px;
    background-image: url("../img/family-House.jpg");
    z-index: 2;
    box-shadow: #4288E9;
}

section {
    margin: 0 auto;
    clear: both;
    width: 90%;
    position: relative;
    overflow: hidden;
}

section section {
    width: 25%;
    height: 25%;
    position: absolute;
    bottom: 0;
}

section .sidebyside article {
    clear: both;
    margin-top: 20px;
}

section .sidebyside article p {
    float: left;
    margin-left: 60px;
}

section h1 {
    font-size: 28px;
    text-align: center;
}

section h2 {
    clear: both;
    font-size: 20px;
    margin-left: 40px;
}

.sidebyside {
    float: left;
    margin: 0 10%;
}

.circle-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;
}

.circle-resize {
    width: 200px;
    height: 200px;
}

.circle-container a {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 20px; height: 20px;
    margin-left: -25px;
    margin-top: -25px;
}

.circle-container a img {
    width: 50px;
    height: 50px;
    border-radius: 400px;
}

.deg { 
    transform: rotate(0deg) translate(0px) rotate(-0deg);
    transition: transform 0.5s;
}

.EditExpandButton {
    position: absolute;
    top: 0px;
    right: 0px;
    clear: both;
    float: right;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 400px;
    transition: width 0.5s, height 0.5s, top 0.5s;
}

.EditExpandButton:hover {
    width: 200px;
    height: 200px;
}

#EditView {
    height: 80%;
    background-image: url("../img/bg-blueprint.png");
}

#total {
    clear: both;
    text-align: center;
    padding-top: 60px;
}

#rightmenu {
    float: right;
}

#WallsExpBtn {
    top: 0px;
}

#DoorsExpBtn {
    top: 100px;
}

#WindowsExpBtn {
    top: 200px;
}