html, body {
    min-height: 100%;
    background-color: green;
    margin-top: 10px;
}

nav {
    height: 5%;
    width: 90%;
    margin: 0 auto;
}

nav button {
    margin: 1%;
    float: left;
    height: 100%;
}

section {
    margin: 0 auto;
    clear: both;
    width: 90%;
    min-height: 80%;
    background-color: red;
    position: relative;
}

section section {
    width: 25%;
    height: 25%;
    background-color: yellow;
    position: absolute;
    bottom: 0;
}

section article {
    clear: both;
    margin-top: 20px;
}

section article p {
    float: left;
    margin-left: 20px;
}

h1 {
    
}

h2 {
    clear: both;
}

#rightmenu {
    float: right;
}